.HumanContainer{
    width: 100%;
    height: 100%;
}

.shoulders{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.shO1{
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.shV{
    position: absolute;
    top: 18.65%;
    left: 31%;
    height: 85px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.shO2{
    position: absolute;
    top: 27.2%;
    left: 34.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}

.chest{
    position: absolute;
    top: 15%;
    right: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.chO1{
    position: absolute;
    top: 20%;
    right: 20%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.chV{
    position: absolute;
    top: 24%;
    right: 30.5%;
    height: 39px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.chO2{
    position: absolute;
    top: 28%;
    right: 24%;
    width: 58px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.biceps{
    position: absolute;
    top: 25%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.biV{
    position: absolute;
    top: 31%;
    left: 31%;
    width: 65px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.triceps{
    position: absolute;
    top: 35%;
    right: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.trO1{
    position: absolute;
    top: 40%;
    right: 20%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.trV{
    position: absolute;
    top: 36%;
    right: 30.5%;
    height: 40px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.trO2{
    position: absolute;
    top: 32%;
    right: 26.9%;
    width: 35px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 10;
}
.abs{
    position: absolute;
    top: 45%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.abO1{
    position: absolute;
    top: 50%;
    left: 27.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.abV{
    position: absolute;
    top: 43%;
    left: 31%;
    height: 70px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.abO2{
    position: absolute;
    top: 36%;
    left: 37.3%;
    width: 55px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}

.forearms{
    position: absolute;
    top: 55%;
    right: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.foO1{
    position: absolute;
    top: 60%;
    right: 20%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.foV{
    position: absolute;
    top: 51.2%;
    right: 30.5%;
    height: 88px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.foO2{
    position: absolute;
    top: 42.4%;
    right: 27%;
    width: 30.4px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.quads{
    position: absolute;
    top: 65%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.quO1{
    position: absolute;
    top: 70%;
    left: 27.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.quV{
    position: absolute;
    top: 63%;
    left: 31%;
    height: 70px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.quO2{
    position: absolute;
    top: 56%;
    left: 37.3%;
    width: 55px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
/* back */
.traps{
    position: absolute;
    top: 15%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.traO1{
    position: absolute;
    top: 20%;
    left: 27.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.traV{
    position: absolute;
    top: 21.5%;
    left: 31%;
    height: 14px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.traO2{
    position: absolute;
    top: 23%;
    left: 37.3%;
    width: 55px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.back{
    position: absolute;
    top: 15%;
    right: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.baO1{
    position: absolute;
    top: 20%;
    right: 20%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.baV{
    position: absolute;
    top: 24%;
    right: 30.5%;
    height: 39px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.baO2{
    position: absolute;
    top: 28%;
    right: 24%;
    width: 58px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.lats{
    position: absolute;
    top: 35%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.laO1{
    position: absolute;
    top: 40%;
    left: 27.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.laV{
    position: absolute;
    top: 37.5%;
    left: 31%;
    height: 24.85px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.laO2{
    position: absolute;
    top: 34.9%;
    left: 37.3%;
    width: 55px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}

.glutes{
    position: absolute;
    top: 35%;
    right: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.glO1{
    position: absolute;
    top: 40%;
    right: 20%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.glV{
    position: absolute;
    top: 44%;
    right: 30.5%;
    height: 39px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.glO2{
    position: absolute;
    top: 48%;
    right: 24%;
    width: 58px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.calves{
    position: absolute;
    top: 55%;
    left: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.caO1{
    position: absolute;
    top: 60%;
    left: 27.5%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.caV{
    position: absolute;
    top: 65.1%;
    left: 31%;
    height: 50px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.caO2{
    position: absolute;
    top: 70%;
    left: 37.3%;
    width: 55px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.hamstrings{
    position: absolute;
    top: 55%;
    right: 5%;
    height: 50px;
    width: 80px;
    border: solid black;
    text-align: center;
}
.haO1{
    position: absolute;
    top: 60%;
    right: 20%;
    width: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.haV{
    position: absolute;
    top: 57.1%;
    right: 30.5%;
    height: 30px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.haO2{
    position: absolute;
    top: 54%;
    right: 24%;
    width: 58px;
    border: 1px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 10;
}


.human {
    position: absolute;
    top: 10%;
    left: 33%;
}

.switchSide {
    display: flex;
    justify-content:right;
}