.StartIcon{
    grid-column: 3 / 3;
    grid-row: 1;

    width: 120px;
    height: 100px;
    /* border: solid black; */
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: -45%;
    right: 10%;
    background-color: #b2b2b2;
     /* z-index: 3;  */
}

.chosenExercisesStart{
    position: absolute;
    width: 400px;
    height: 500px;
    /* border: solid rgb(56, 38, 38); */
    top:-1%;
    left: 0%;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 2;

}

.Start{
    position: absolute;
    width: 400px;
    height: 500px;
    /* border: solid rgb(237, 187, 187); */
    top:-680%;
    right: 10%;
    z-index: 2;

}



.begin{
    position: absolute;
    top: 480px;
    left: -10px;
    border: solid 1px black;
    width: 30%;
    height: 50px;
    background-color: rgb(210, 29, 29);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 100px rgba(198, 188, 188, 0.2);
    z-index: 2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


