.Options{
    position: absolute;
    /* top:10%; */
    left:60%;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    border: solid #a9a9a9;
    z-index: 3;
    background-color: rgb(141, 160, 177);
    box-shadow: -30px 30px 40px #aaaaaa;
}

